# 系统 信息文件
.DS_Store/

node_modules

# 输出目录
/dist

# 版本控制（不要忽略，保证所有开发人员都在相同的依赖下工作）
# package-lock.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 编辑器配置文件
.idea/
.output/

# 本地配置文件
*.local

.vitepress/cache