:root {
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #03B588 30%, #a8f7e6 );
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #03B588 50%, #a8f7e6 50% );
  --vp-c-brand-1: #03B588;
  --vp-c-brand-2: #03B588;
  --vp-button-brand-bg: #3c9780;
}

/* 导航栏样式 */
.VPNav .VPNavBarMenuGroup .button[aria-expanded = true] .text-icon {
  transform: rotate(-90deg);
}

/* 详情样式 */
.Layout.custom-page,
.Layout.custom-page .VPDoc,
.Layout.custom-page .VPDoc .container,
.Layout.custom-page .VPDoc .container .content {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: initial;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}
.Layout.custom-page .VPDoc .container .content .custom-img {
  position: relative;
  left: 50%;
  display: block;
  margin: 0 auto;
  max-width: initial;
  transform: translateX(-50%);
}
.Layout.custom-page .VPDoc .container .content  .custom-title {
  color: #121212;
  font-size: 48px;
  font-weight: 600;
}
.Layout.custom-page .VPDoc .container .content  .custom-subtitle {
  color: #666;
  font-size: 20px;
  font-weight: 400;
}
.Layout.custom-page .VPDocFooter {
  display: none;
}